:root {
  --vt-c-slate: rgba(32, 33, 37, 1);
  --vt-c-corn: rgba(242, 200, 0, 1);
  --vt-c-eggshell: rgba(255, 255, 255, 1);
  --vt-c-ghost: rgba(161, 169, 175, 1);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-slate);
  --color-heading: var(--vt-c-corn);
  --color-text: var(--vt-c-ghost);

  --section-gap: 160px;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    Inter
}
